<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Metlabs{% endblock %}</title>
    <script src="//use.typekit.net/mvu2iah.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/h5bp.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css?v=1.0.1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettify.css">
</head>
<body>
<header>
    <section>
        <h1><a href="{% url "home" %}">:labs</a></h1>
        <nav>
            <ul>
                <li><a href="{% url "blog" %}">blog</a></li>
                <li><a href="{{ next_event.get_absolute_url }}">labsessions</a></li>
            </ul>
        </nav>
    </section>
</header>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block content %}

{% endblock %}
<footer>
    <div>&copy; 2013, Metglobal.</div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{ STATIC_URL }}js/prettify/prettify.js"></script>
<script>
    $(function () {
        $("pre").addClass("prettyprint");
        $(".post img").each(function () {
            $(this).parent().addClass("image");
        });
        prettyPrint();
    });
</script>
{% block javascripts %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39233452-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
